#h1_title
{
    clear: both;
    width: 832px;
    padding: 4px;
    background: #333333 url(../images/h1_bg.jpg) no-repeat left top;
    margin-bottom: 10px;
    border: 1px solid #666666;
}
#h1_title h1
{
    font-size: 130%;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 10px 5px;
    border: 1px solid #666666;
}
#main_contents h2
{
    clear: both;
    border: 1px solid #CCCCCC;
    border-bottom: 2px solid #000000;
    background-color: #FFF0B3;
    padding: 4px;
    margin: 1.5em 0px;
}
#main_contents h2.h2_first
{
    margin: 0 0 1.5em;
}
#main_contents h3
{
    clear: both;
    border: 1px solid #CCCCCC;
    border-bottom: 2px solid #000000;
    padding: 4px;
    margin: 1.5em 0px;
}
#main_contents h4, #main_contents h5
{
    clear: both;
    border-bottom: 1px solid #000000;
    padding: 4px;
    margin: 1.5em 0px;
}
#main_contents p
{
    margin: 1.5em 0px;
}
a:link, a:visited, a:active
{
    text-decoration: underline;
    color: #999999;
}
a:hover
{
    text-decoration: none;
    color: #FF6600;
}

.p_photo_l img
{
    float: left;
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    padding: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.p_photo_r img
{
    float: right;
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    padding: 4px;
    margin-left: 10px;
    margin-bottom: 10px;
}

address
{
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    margin-top: 10px;
}
address a:link
{
    text-decoration: none;
    color: #999999;
}
address a:visited
{
    text-decoration: none;
    color: #999999;
}
address a:active
{
    text-decoration: none;
    color: #999999;
}
address a:hover
{
    text-decoration: underline;
    color: #333333;
}

.text_red
{
    color: #CC0000;
}
.text_blue
{
    color: #3333CC;
}
.text_green
{
    color: #006600;
}
.text_orange
{
    color: #FF6600;
}

.text_bold
{
    font-weight: bold;
}


table.table_top
{
    width: 100%;
}
table.table_top caption
{
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    background-image: url(../images/top_info_title.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 23px;
}
table.table_top th
{
    text-align: left;
    vertical-align: top;
    padding: 3px 5px 3px 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #EEEEEE;
    background-color: #FFFFFF;
}
table.table_top td
{
    text-align: left;
    vertical-align: top;
    padding: 3px 5px 3px 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #EEEEEE;
    background-color: #FFFFFF;
}

table.table_free
{
    margin: 0px auto 20px auto;
    border-top: 1px solid #778899;
    border-left: 1px solid #778899;
}
table.table_free caption
{
    margin: 0px auto 0px auto;
    font-size: 120%;
    font-weight: bold;
    color: #330033;
    text-align: left;
    padding-bottom: 3px;
    background-color: #F5F5F5;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #778899;
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #778899;
    border-left-color: #778899;
    padding-top: 2px;
    padding-left: 5px;
}
table.table_free th
{
    text-align: left;
    vertical-align: top;
    padding: 3px 5px 3px 5px;
    background-color: #b0c4de;
    border-bottom: 1px solid #778899;
    border-right: 1px solid #778899;
    color: #333333;
}
table.table_free td
{
    text-align: left;
    vertical-align: top;
    padding: 3px 5px 3px 5px;
    border-bottom: 1px solid #778899;
    border-right: 1px solid #778899;
}
