<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <link rel="stylesheet" type="text/css" href="css/text.css" />
    <link href="assets/css/style.css" rel="stylesheet" />
</head>
<body>
    
    <script type="text/javascript" src="js/jquery.min.js"></script>
    
    <script type="text/javascript" src="../js/jquery.js"></script>
    
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true" />
    <div id="wrapper">
        <!-- header start -->
        <!-- header start -->
        <div id="header">
            <table style="padding: 0px; margin-right: auto; margin-left: auto; width: 820px;
                height: 110px;">
                <tr>
                    <td>
                        <table style="width: 115px; height: 130px; margin-bottom: 25px;">
                            <tr>
                                <td>
                                    <a href="../index.aspx">
                                        <img src="../Images/m1（）.jpg" alt="" title="" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="../index.aspx">
                                        <img src="../Images/m2（）.jpg" alt="" border="0" style="margin-bottom: 0px" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="Main/WebLink.aspx">
                                        <img src="../Images/m3（）.jpg" alt="" align="middle" /></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table style="margin: 0px auto 0px auto; padding: 0px; width: 715px">
                            <tr>
                                <td>
                                    <a href="../index.aspx">
                                        <img src="../Images/6（）.jpg" alt="" style="margin-right: 0px; margin-left: 0px; height: 112px;
                                            width: 330px; margin-bottom: 25px;" />
                                    </a>
                                </td>
                                <td style="padding: 0px; bottom: 0px">
                                    <div id="clock" class="light">
                                        <div class="display">
                                            <div class="weekdays">
                                            </div>
                                            <div class="ampm">
                                            </div>
                                            <div class="digits">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <div style="width: 840px">
                <img src="../Images/frame.png" style="width: 140px" /><img src="../Images/frame.png"
                    style="width: 140px" /><img src="../Images/frame.png" style="width: 140px" /><img
                        src="../Images/frame.png" style="width: 140px" /><img src="../Images/frame.png" style="width: 140px" /><img
                            src="../Images/frame.png" style="width: 140px" /></div>
            <div style="font-size: large; font-weight: normal; color: #0000FF; clear: both; text-align: center">
                <p>
                    欢 迎 加 入 电 脑 爱 好 者 家 园
                </p>
            </div>
        </div>
        <!-- header end -->
        <!-- global_nav start -->
        <div id="global_navi">
            <a href="">
                <asp:Menu ID="Menu1" runat="server" DataSourceID="SiteMapDataSource1"
                    Orientation="Horizontal" StaticDisplayLevels="2" Width="830px">
                    <DynamicItemTemplate>
                        <%# Eval("Text") %>
                    </DynamicItemTemplate>
                    <Items>
                        <asp:MenuItem Text="新建项" Value="新建项"></asp:MenuItem>
                        <asp:MenuItem Text="新建项" Value="新建项"></asp:MenuItem>
                        <asp:MenuItem Text="新建项" Value="新建项"></asp:MenuItem>
                        <asp:MenuItem Text="新建项" Value="新建项"></asp:MenuItem>
                        <asp:MenuItem Text="新建项" Value="新建项"></asp:MenuItem>
                        <asp:MenuItem Text="新建项" Value="新建项"></asp:MenuItem>
                    </Items>
                </asp:Menu>
                <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" />
            </a>
        </div>
        <!-- global_nav end -->
        <!-- pankuzu start -->
        <div id="pagetop">
            <asp:LoginView ID="LoginView1" runat="server">
                <AnonymousTemplate>
                    <div id="loginview">
                        您尚未登录</div>
                </AnonymousTemplate>
                <LoggedInTemplate>
                    <div id="loginview">
                        欢迎<asp:LoginName ID="LoginName1" runat="server" />
                        的登录 请按这里<asp:LoginStatus ID="LoginStatus1" runat="server" />
                    </div>
                </LoggedInTemplate>
            </asp:LoginView>
        </div>
        <div id="pankuzu">
            <p>
                <asp:SiteMapPath ID="SiteMapPath1" runat="server" Font-Names="Verdana" Font-Size="Medium"
                    PathSeparator=" : ">
                    <CurrentNodeStyle ForeColor="#333333" />
                    <NodeStyle Font-Bold="True" ForeColor="#284E98" />
                    <PathSeparatorStyle Font-Bold="True" ForeColor="#507CD1" />
                    <RootNodeStyle Font-Bold="True" ForeColor="#507CD1" />
                </asp:SiteMapPath>
            </p>
        </div>
        <!-- pankuzu end -->
        <!-- main start -->
        <div id="main">
           
                    <script src="../js/jquery.min1.js"></script>
                    <script src="../js/moment.min.js"></script>
                    <script src="../assets/js/script.js"></script>
            <div id="main_contents2">
                <div id="contents_body">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
        </div>
        <!-- main end -->
    </div>
    <!-- wrapper end -->
    <div id="footer">
        <address>
            Copyright (C) 电脑爱好者家园 All Rights Reserved.</address>
    </div>
    <!-- footer end -->
    </form>
</body>
</html>
