<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<remove name="LocalSqlServer"/>
		<add connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=True;User Instance=True" name="MembersDB" providerName="System.Data.SqlClient"/>
		<add connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\WebSite.mdf;Integrated Security=True;User Instance=True" name="WebSiteDB" providerName="System.Data.SqlClient"/>
		<add connectionString="data source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=SSPI;User Instance=True" name="LocalSqlServer" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<profile>
			<properties>
				<add name="UserName" type="System.String"/>
				<add name="UserNickName" type="System.String"/>
				<add name="UserSex" type="System.Boolean"/>
				<add name="UserIDcode" type="System.String"/>
				<add name="UserBirth" type="System.DateTime"/>
				<add name="UserPhone" type="System.String"/>
				<add name="UserMobile" type="System.String"/>
				<group name="UserAddress">
					<add name="Country" type="System.String" defaultValue="中国"/>
					<add name="City" type="System.String"/>
					<add name="Detail" type="System.String"/>
				</group>
			</properties>
		</profile>
		<roleManager enabled="true"/>
		<authentication mode="Forms">
			<forms loginUrl="Main/Login.aspx"></forms>
		</authentication>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400"/>
	</system.web>
</configuration>
