<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="Manager" />
            <deny users="*" />
        </authorization>
      <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" validateRequest="false">
        <controls>
          <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
        </controls>
      </pages>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
</configuration>